.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                       rgba(0, 0, 0, 0.5)),url("../Resources/bg-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    min-height: calc(100vh - 76px);
    position: relative;
    color: white;

    h1 {
        font-family: 'Benne', serif;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 5rem;
        max-width: 100%;
        text-align: center;
        line-height: 5rem;
        transition: all 0.3s ease-in-out;
    }
    p {
        white-space: nowrap;
        position: absolute;
        font-size: 1.5rem;
        top: calc(50% - 6.5rem);
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.3s ease-in-out;
    }
}

@media only screen and (max-width: 1340px) {
    .hero {

        p {
            top: calc( 50% - 8rem);
        }
    }
}
@media only screen and (max-width: 1020px) {
    .hero {

        p {
            top: calc( 50% - 9.5rem);
        }
        h1 {
            font-size: 4.5rem;
        }
    }
}
@media only screen and (max-width: 826px) {
    .hero {

        p {
            top: calc( 50% - 11rem);
        }
        h1 {
            font-size: 4rem;
        }
    }
}
@media only screen and (max-width: 661px) {
    .hero {

        p {
            top: calc( 50% - 12.5rem);
            font-size: 1.4rem;
        }
        h1 {
            font-size: 3.5rem;
        }
    }
}
@media only screen and (max-width: 577px) {
    .hero {

        p {
            top: calc( 50% - 14rem);
            font-size: 1.4rem;
        }
        h1 {
            font-size: 3.5rem;
        }
    }
}