body {
    min-width: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    background-color: antiquewhite;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.uppercase {
    text-transform: uppercase;
}

.hidden {
    display: hidden;
}

#formLogin {
    position: fixed;
    z-index: 30;
    top: 50%;
    left: 50%;
}