header {
    width: 100vw;
    height: 76px;
    background-color: #424953;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;

    img {
        position: relative;
        left: 120px;
    }

    nav {
        position: relative;
        left: 80px;
        ul {
            display: flex;
            list-style: none;

            a {
                margin: 1.6rem;
                font-size: 1.05rem;
                color: #aea17f;
                text-decoration: none;
                letter-spacing: 1px;
            }
        }
    }
    .right-align {
        justify-self:flex-end;
        right: 120px;
        position: absolute;

        p {
            display: inline;
            color: white;
            margin: 30px;
            font-size: 0.8rem;
            letter-spacing: 1px;
        }

        button {
            background-color: #aea17f;
            border: none;
            width: 160px;
            height: 36px;
            border-radius: 25px;
            font-size: 1.1rem;
            cursor: pointer;
            font-family: 'Lato', sans-serif;
            letter-spacing: 1px;
        }
    }
}