header {
    width: 100vw;
    height: 76px;
    background-color: #424953;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;

    img {
        position: relative;
        left: 120px;
    }

    .navigation {
        position: relative;
        left: 80px;
        ul {
            display: flex;
            list-style: none;

            a {
                margin: calc(0.6rem + 2vw);
                font-size: 1.05rem;
                color: #aea17f;
                text-decoration: none;
                letter-spacing: 1px;
                white-space: nowrap;
                
            }
        }
    }
    .right-align {
        justify-self:flex-end;
        right: 120px;
        position: absolute;

        p {
            display: inline;
            color: white;
            margin: 30px;
            font-size: 0.8rem;
            letter-spacing: 1px;
        }

        button {
            background-color: #aea17f;
            border: none;
            width: 160px;
            height: 36px;
            border-radius: 25px;
            font-size: 1.1rem;
            cursor: pointer;
            font-family: 'Lato', sans-serif;
            letter-spacing: 1px;
        }
        .mobile-hamburger {
            position: absolute;
            top: 50%;
            right: -130px;
            transform: translate(-50%, -50%);
            cursor: pointer;
            padding: 12px;

        span {
            display: block;
            min-width: 30px;
            min-height: 4px;
            margin: 4px;
            background-color: #aea17f;
            border-radius: 2px;
        }
    }
    }


}

@media only screen and (max-width: 1240px) {
    header {
        img {
            left: calc(10px + 9%);
        }
    }
    .navigation {
        display: none;
    }
}
@media only screen and (min-width: 1240px) {
    .mobile-hamburger {
        display: none;
    }    
}

@media only screen and (max-width: 730px) {
    .right-align {
        display: flex;
        align-items: center;
        p {
            display: block;
            strong {
                display: block;
            }
        }
    }
}
@media only screen and (max-width: 600px) {
    .right-align {
        p {
            max-width: 130px;
        }
    }
}
@media only screen and (max-width: 550px) {
    .right-align {
        p {
            max-width: initial;
        }
    }
    header {
        img {
            display: none;
        }
    }
}
@media only screen and (max-width: 430px) {
    .right-align {
        left: -24px;
        width: calc(100% - 94px);
    }
}